<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Safe Bathrooms Club</title>
        <meta name="description" content="Safe Bathrooms Club is for anyone in the USA who needs to find a safe location to pee regardless of gender identity, gender expression, or sexual orientation.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#fff">
        <link rel="stylesheet" href="css/style.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:image" content="img/sbc.logo.blue.png">
    </head>
    <body>
      <header class="site-width header">
        <a href="/"><img class="header__logo" src="/img/sbc.logo.png" alt="Safe Bathrooms Club"></a>
        <ul class="header__nav">
          <li><a href="/about.html">About</a></li>
          <li><a href="http://goo.gl/forms/tbFz3MJhwX">Submit a bathroom</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </header>

      <section class="site-width">
        <h1 class="hero-h1">Businesses with safe bathrooms for everyone. <a href="http://goo.gl/forms/tbFz3MJhwX">Add to the map.</a></h1>

      </section>  

      <section class="map site-width">
        <iframe src="https://www.google.com/maps/d/embed?mid=zL2fEel0lp_I.kkesJKJtTr1Q"></iframe>
      </section>

      {{#each cities}}
        <section class="site-width">
          <h2 id="#{{city}}" class="city-name">{{city}}</h2>
          <ul class="br-list">
            {{#each bathrooms}}
              <li class="br">
                <p class="br-category">{{category}}</p>
                <h4 class="br-name">{{name}}</h4>
                <a href="https://www.google.com/maps/search/@{{c1}},{{c0}},12z?q={{name}}"><address class="address">
                  {{address}} {{zip}}
                </address></a>
                <ul class="br-links">
                  {{#if link}}
                    <li><a href="{{link}}"><img class="icon" src="img/{{icon}}"></a></li>
                  {{/if}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </section>
        <hr class="hr">
      {{/each}}
      <footer class="footer">
        <ul class="footer__nav">
          <li>
            <a href="/">
              <img class="logo-mark" src="img/favicon-96x96.png" alt="Safe Bathrooms Club">
            </a>
          </li>
          <li>
            <a href="/about.html">About</a>
          </li>
          <li>
            <a href="http://goo.gl/forms/tbFz3MJhwX">Submit a bathroom</a>
          </li>
          <li>
            <!--<img class="icon" src="img/social-instagram-outline.svg">-->
            <a href="http://instagram.com/safebathroomsclub">@safebathroomsclub</a>
          </li>
          <li>© 2016</li>
        </ul>
      </footer>
      <!-- GA -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74349256-2', 'auto');
      ga('send', 'pageview');

      </script>
    </body>
</html>
